.card-header {
    background-color: #faf0ac;
}
.badge {
	white-space: normal;
	line-height: 1.25;
}
.apm-update-time{
    font-size: .85em;
}
.service-list a{
    background-color: #e7af4a3d;
}

.service-list a i{
   color:red;
}

.service-list a.carousel-control-prev{
    left: -35px;
    width: 54px;
}

.service-list a.carousel-control-next{
    right: -35px;
    width: 54px;
}

/* Xeditable */
.editableform textarea.form-control {
    width: 19em;
}

.editableform select.form-control {
    width: 12em;
    display: inline-block;
}

.editable-buttons {
    display: block;
}

.editable-click, a.editable-click, a.editable-click:hover {
    color: #3e5f61;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}
.apm-note p {
    white-space: pre-line;
}

#topnav .navbar-custom {
    background-color: #f9a50b;
}
#topnav .has-submenu.active a {
    color: #f9a50b;
}
#topnav .has-submenu.active a i {
    color: #f9a50b;
}
#topnav .navigation-menu > li.has-submenu.open > a {
    color: #f9a50b;
}
#topnav .has-submenu.active .submenu li.active > a {
    color: #f9a50b;
}
#topnav .navigation-menu > li .submenu li a:hover {
    color: #cb000c;
}
#topnav .navigation-menu > li > a {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background: #f1556c;
}
html, body { height: 100%; }
.card-header {
    background-color: #faf0ac;
    margin-top: 10px !important;
}
.apm-direction {
    font-size: .9em;
}
.room-time_update{
    font-size: .75em;
}
.notifier-apartment{
    background-color: gold;
    color: red;
    padding-top: 4px;
    padding-bottom: 4px;
}
.editable-pre-wrapped{
    white-space: pre-line;
}

/* COLORS LIST */
.bg-gh-apm-card{
    background-color:  #faf0ac;
}

.morecontent span {
    display: none;
}
.morelink {
    display: inline-block;
}
.address-text{
    font-size: 22px;
}
.notification-list span.noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -5px;
}

.badge a.text-light:hover{
    color: #000 !important;
}
.editable-click, a.editable-click, a.editable-click:hover {
    color: #7c120d;
    font-weight: 500;
}

.badge {
    font-size: 90%;
    font-weight: 700;
}

#gh-loader{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(254, 255, 255, 0.95);
    z-index: 1200;
}
.sk-wave{
    margin: 90% auto;
}
.sk-wave .sk-rect{
    background-color: #ffc122;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1015px;
    }
    .editableform textarea.form-control {
        width: 25em;
    }

    .sk-wave{
        margin: 35% auto;
    }
    
}

@media (min-width: 576px) {
    .modal-lg {
        max-width: 675px;
    }
    .address-text{
        font-size: 25px;
    }

    #topnav .has-submenu.active a {
        color: #fff;
    }
    #topnav .has-submenu.active a i {
        color: #fff;
    }
    #topnav .navigation-menu > li.has-submenu.open > a {
        color: #fff;
    }
    .sk-wave{
        margin: 25% auto;
    }
}