.list-services ul li {
    font-style: italic;
}

.list-group-item {
    font-size: 10px;
    padding: 5px;
}

.list-group-item span {
    font-size: 12px;
    font-weight: bold;
}

.blockquote-custom {
    position: relative;
    font-size: 0.9rem;
}

.blockquote-custom-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -16px;
    left: 23px;
}
td{
    font-size: 11px;
}
.room-datatable th{
    font-size: 12px;
    /*font-family: "Asap", serif;*/
}
.address{
    font-size:13px;
}
.updated-date{
    font-size:11px;
    color:#009312;
}